.container{
    width: 100%;
 }
 .navbar {
    background-color: #a6bbd1;
    width:100%;
    
  }
  
  .navbar-brand {
    
    width: 55px;
    height: 55px;
    border-radius: 20px;
  }
  .main{
    margin-top: 25px;
    margin-bottom: 25px;
    font-family: Cursive;
    text-align: center;

  }


  .display-4{
    font-family:Papyrus;
   text-shadow: 4px 2px #120101;
    color: #f5c04b;
    
  }

  .admin{
    border-radius: 10px;
    font-family: Lucida Handwriting;
    font-weight: bolder;
  }

  .nav-item nav-link{
    color: #ffffff;
  }
  .mainh1{
    color: #febb69;
  }

  .navbar-brand:hover {
    color: #f5c04b;
  }

  .offcanvas-header {
    background-color: #343a40;
    color: #febb69;
  }

  .offcanvas-body .nav-link {
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1rem;
  }

  .offcanvas-body .nav-link.active {
    color: #febb69;
  }

  .offcanvas-body .nav-link:hover {
    color: #febb69;
  }

  .product-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; 
    margin-bottom: 2px;
}

.product-image {
    margin-top: 17px;
    width: 100%;   
    height: auto;   
    max-height: 100%; 
    object-fit:contain;
}

.card {
    border: 1px solid #e0e0e0;  
    border-radius: 8px;       
    box-shadow: 0 4px 15px rgba(65, 60, 60, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;  
}

.card:hover {
    box-shadow: 0 6px 20px rgba(82, 79, 79, 0.3);
}

#gridContent{
    text-align: center;
}

.modal-backdrop.show {
  filter: blur(5px);
  opacity: 0.8;
}

.input-style {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}

.input-style:focus {
  border-color: #80bdff;
  box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
}

.w-100 {
  width: 100%;
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}


.carousel-inner img {
  object-fit: cover;
  height: 600px;
}

#Bmessage{
  color: red;
}
.Gmessage{
  color: green;
}

.modal{
  background-color:transparent;

}
.modal-content{
  background-color:#343a40;
  border-radius: 30px;
  color: #f5c04b;
}
.btn{
  background-color: #f5c04b;
}
.form-control{
  background-color:rgb(245, 245, 211);
}